/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	list-style-type: none;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	color: black;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;  
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}



/*
==============================
My Styling begins from here
==============================
*/
body {
	background-color: #EAE7DC;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	align-content: center;
}

.nav-bar {
	width: 21%;
	position: fixed;
	height: 100vh;
	border-right: #D8C3A5 5px solid;
	box-shadow: 1px 0px 10px #8E8D8A;
	background-color: #D8C3A5;

}

.nav-bar img {
	border-radius: 50%;
	width: 60%;
	margin: 80px 20%;
	margin-bottom: 0;
}

.nav-bar h1 {
	font-size: 32px;
	margin: 24px 10px 48px;
	font-weight: 500;
}

.nav-bar footer {
	margin: 0;
	font-size: 0.8em;
	position: absolute;
	bottom: 3%;
	left: 15%;
	right: 15%;

}

.nav-bar hr {
	width: 80%;
	border-top: 0.5px solid #8E8D8A;
	height: 0;
	box-shadow: 0px 0px 4px #8E8D8A;
	margin: auto;
}

.nav-bar footer hr {
	width: 100%;
	position: relative;
	bottom: 10px;
}

.nav-bar footer a {
	border-bottom: 1px dotted #8E8D8A;
}

.nav-links {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
}

.nav-links li {
	padding: 20px;
	opacity: 1;
}

.nav-links :first-child {
	margin-top: 20px;
}

.nav-links :last-child {
	margin-bottom: 20px;
}

/* .nav-links a:hover {
	color: #8E8D8A;
} */


.main footer {
	display: none;
}

.burger {
	display: none;
	max-height: 0;
}

.empty-clear {
	content: "";
	clear: both;
	display: block;
}

.nav-bar-on #line1 {
	transform: translate( -6px, 9px) rotate( -45deg) ;
}

.nav-bar-on #line2 {
	opacity: 0;
}

.nav-bar-on #line3 {
	transform:  translate( -6px, -9px) rotate( 45deg);
}

@media screen and ( max-width: 1024px) {
	.nav-bar {
		width: 24%;
	}
}

@keyframes navLinksFadeIn {
	from {
		opacity: 0;
		transform: translateX( 50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes navLinksFadeOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX( 50px);
	}
}



@media screen and ( max-width: 768px) {

	body {
		overflow-x: hidden;
	}

	.nav-bar  hr, .nav-bar footer {
		display: none;
	}

	.nav-bar, .nav-bar nav {
		width: 100%;
		height: 14%;
		max-height: 14vh;
		/* overflow: hidden; */
		position: fixed;
		display: flex;
	}

	.nav-bar .nav-pic-name {
		width: 100%;
		display: flex;
	}

	.nav-bar .nav-pic-name h1 {
		height: inherit;
		margin: auto;
		width: 100%;
		padding: 4px;
		position: relative;
		right: 65px;
	}

	.nav-links {
		position: absolute;
		width: 43%;
		display: flex;
		justify-content: space-evenly;
		height: 100vh;
		right: 0;
		background-color: #D8C3A5;
		transform: translateX( 100%);
		transition: transform 0.5s ease-in;		
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-bar .nav-pic-name img{
		margin: 1.5%;
		margin-left: 4%;
		height: 12vh;
		width: 12vh;
		float: left;
		z-index: 1;
	}

	.burger {
		display: block;
		width: 45px;
		height: inherit;
		position: fixed;
		right: 4%;
		cursor: pointer;
	}
	
	.burger #line1, .burger #line2, .burger #line3 {
		height: 5px;
		background-color: #E98074;
		margin: 4px 7.5px;
		border-radius: 4px;
		transition: all 0.5s ease-in-out;	
	}

	.burger #line1 {
		margin-top: 5.9vh;
	}

	.nav-links-active {
		transform: translateX( 0%);
	}

}


@media screen and ( max-width: 500px) {

	.nav-bar .nav-pic-name img {
		display: none;
	}

	.nav-bar .nav-pic-name h1 {
		position: relative;
		right: 0;
	}

	.burger {
		width: 40px;
	}

	.burger #line1, .burger #line2, .burger #line3 {
		height: 4px;
	}

}