/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	list-style-type: none;
}

body {
	line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display:block;
}

nav ul {
	list-style:none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}

a {
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	text-decoration: none;
	color: black;
}

/* change colours to suit your needs */
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}

/* change colours to suit your needs */
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

/* change border colour to suit your needs */
hr {
	display:block;
	height:1px;
	border:0;  
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}



/*
==============================
My Styling begins from here
==============================
*/

* {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	background-color: #EAE7DC;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	align-content: center;

}

.nav-bar {
	width: 21%;
	position: fixed;
	height: 100vh;
	box-shadow: 1px 0px 10px #8E8D8A;
	background-color: #D8C3A5;
	z-index: 1;

}

.nav-bar img {
	border-radius: 50%;
	width: 60%;
	margin: 80px 20%;
	margin-bottom: 0;
}

.nav-bar h1 {
	font-size: 1.8em;
	margin: 24px 10px 48px;
	font-weight: 500;
}

.nav-bar footer {
	margin: 0;
	font-size: 0.8em;
	position: absolute;
	bottom: 3%;
	left: 15%;
	right: 15%;

}

.nav-bar hr {
	width: 80%;
	border-top: 0.5px solid #8E8D8A;
	height: 0;
	box-shadow: 0px 0px 4px #8E8D8A;
	margin: auto;
}

.nav-bar footer hr {
	width: 100%;
	position: relative;
	bottom: 10px;
}

.nav-bar footer a {
	border-bottom: 1px dotted #8E8D8A;
}

.nav-links {
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
}

.nav-links li {
	padding: 20px;
	opacity: 1;
}

.nav-links :first-child {
	margin-top: 20px;
}

.nav-links :last-child {
	margin-bottom: 20px;
}

.nav-links a:hover {
	color: #E98074;
}

.nav-links a {
	transition-duration: 0.35s;
}


.main footer {
	display: none;
	padding: 10px;
}

.main footer a {
	border-bottom: 1px dotted #8E8D8A;
}

.burger {
	display: none;
	max-height: 0;
}

.empty-clear {
	content: "";
	clear: both;
	display: block;
}

.nav-bar-on #line1 {
	transform: translate( -6px, 9px) rotate( -45deg) ;
}

.nav-bar-on #line2 {
	opacity: 0;
}

.nav-bar-on #line3 {
	transform:  translate( -6px, -9px) rotate( 45deg);
}

.main {
	width: 79%;
	z-index: 2;
	float: right;
}

.first {
	position: relative;
	align-content: center;
	overflow: hidden;
}

.main .first img {
	height: 100vh;
	opacity: 0.9;

	-webkit-mask-image: linear-gradient(to top, transparent 5%, black 10%);
	mask-image: linear-gradient(to bottom, transparent 0%, black 20%);
	

}

.main .first h2 {
	position: absolute;
	width: 84%;
	bottom: 14%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4.45em;
	color: #E85A4F;
	color: #EAE7DC;
	font-weight: 450;
	text-shadow: 0px 0px 8px black;
	
}

.second {
	/* capping out at 60vh */
	min-height: 500px;
	width: 75%;
	margin: auto;
	align-content: center;
	position: relative;
	font-size: 1.2em;
}

.intro-box {
	padding: 40px;
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2.8px solid #D8C3A5;
	box-shadow: 0px 0px 5px #8E8D8A;
	background-color: #f6f6f0;  
	line-height: 1.24em;
}

.qual-box {
	width: 80%;
	display: flex;
	padding: 10px;
	margin: auto;
}

.qual-photo-left img {
	width: 100px;
	height: auto;
	padding: 10px;
}

.qual-text-right {
	margin: auto;
	font-size: 0.9em;
	padding: 10px;
}

.third {
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

.third h2 ,.fourth h2, .fifth h2 {
	font-size: 2.8em;
	padding: 20px;
	font-weight: 550;
	color: #E85A4F;
}

.third .project-intro, .fourth p {
	font-size: 1.2em;
	padding: 20px;
}

.projects {
	width: 100%;
	display: flex;
	/* background-color: red; */
}

#project1, #project2 {
	width: 49%;
	margin: 1%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #8E8D8A;
	border: 2.8px solid #D8C3A5;
	background-color: #f6f6f0;  
	margin-top: 3%;
	/* background-color: #f1f0e7; */
}

.third .projects .project-pic img{
	height: 200px;
	border-radius: 30px;
	padding: 10px;
}

.projects p {
	padding: 10px;
	line-height: 1.2em;
}

.projects .project-team {
	padding-bottom: 2px;
}

.projects ul li {
	padding: 2px;
}

.fourth h2 {
	margin-top: 50px;
}

.fourth {
	width: 90%;
	margin: auto;
	height: auto;
	position: relative;
}

.fourth .hobby-carousel-container {
	width: 70%;
	margin: 2% auto;
	display: flex;
	overflow: hidden;
	position: relative;
}

.fourth .hobby-carousel {
	display: flex;
}

.fourth .hobby-carousel img {
	width: 100%;
	border-radius: 10px;
}
/* .fourth table tr td {
	width: 30%;
	padding: 1%;
	margin: 2.3%;
	/* box-shadow: 0px 0px 5px #8E8D8A;
	border: 2.8px solid #D8C3A5;
	background-color: #f6f6f0; 
} */

#back-btn, #next-btn {
	font-size: 50px;
	position: absolute;
	top: 45%;
	color: white;
	z-index: 10;
	opacity: 0.5;
	cursor: pointer;
	transition-duration: 0.5s;
}

#back-btn:hover, #next-btn:hover {
	opacity: 0.8;
}

#back-btn {
	left: 3%;
}

#next-btn {
	right: 3%;
}


.fifth {
	/* height: 70vh; */
	position: relative;
	font-size: 1.1em;
}

/* .fifth .contact-form-container {
	margin: 10% auto;	

} */

/* .fifth h2 {
	margin-top: 10px;
} */

.fifth .contact-form {
	margin: 4% auto;
	padding: 40px ;
	width: 40%;
	border: 2.8px solid #D8C3A5;
	border-radius: 10px;
	text-align: left;
}

.fifth .contact-form form {
	margin-left: 25%;
}

.fifth .contact-form label p{
	padding: 10px;
	padding-left: none;	
	padding-bottom: 2px;
}

.fifth .contact-form label input, .fifth .contact-form label textarea {
	border: none;
	margin: 4px;
	padding: 8px;
	font-size: 0.7em;
	width: 90%;
	border-radius: 7px;
	transition-duration: 0.5s;
	border-bottom: 3px solid #E85A4F;
}

.fifth .contact-form label textarea {
	resize: none;
	scroll-behavior: smooth;
	height: 200px;
}

.fifth .contact-form label input[type=text]:focus {
	background-color: wheat;
	border: none;
	box-shadow: none;
	border: 1px solid #E85A4F;
	
}

.fifth .contact-form label textarea:focus {
	background-color: wheat;
	border: 1px solid #E85A4F;
}

.fifth .contact-form button[type=submit] {
	border: none;
	padding: 10px;
	font-size: 1em;
	width: 40%;
	background-color: #E85A4F;
	color: white;
	border-radius: 40px;
	margin-top: 10px;
	float: right;
}

.fifth .main-contact {
	padding: 20px;
	position: absolute;
	background-color: #E98074;
	border-radius: 10px;
	line-height: 1.2em;
	width: 20%;
	top: 43%;
	left: 20%;

}

.fifth .main-contact #mail{
	border-bottom: 1px dotted black;
	padding: 2px;
	font-size: 0.78em;	
}

.fifth .main-contact a .icons{
	margin-top: 7px;
	padding:  0 5px;
	font-size: 55px;
	/* background-color: white; */
}

@keyframes navLinksFadeIn {
	from {
		opacity: 0;
		transform: translateX( 50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes navLinksFadeOut {
	from {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 0;
		transform: translateX( 50px);
	}
}

@media screen and ( max-height: 800px) {
	
	/* this is done to handle the copyright moving on the nav-bar  */
	
	.nav-bar footer {
		display: none;
	}
	
	.main footer {
		display: block;
	}
}

@media screen and ( max-width: 1500px) {
	
	/* handling contact form as it looks odd - only the mail link*/
	.fifth .main-contact #mail {
		font-size: 0.66em;
		padding-left: 0;
	}

	.fifth .main-contact a .icons {
		font-size: 36px;
	}
	
	.fifth .contact-form {
		padding: 20px;
		width: 45%;
		position: relative;
		left: 50px;
	}

	/* increasing the height due to vertical fitting of box */
	.second {
		height: 70vh;
	}

	.qual-box {
		width: 90%;
	}

	/* making main line in one line  */
	.main .first h2 {
		width: 90%;
	}


}

@media screen and ( max-width: 1280px) {
	body {
		font-size: 15px;
	}

	.fifth .contact-form {
		width: 50%;
		position: relative;
		left: 50px;
	}

	.fifth .main-contact {
		left: 16%;
		width: 25%;
		padding: 20px;
	}

	.intro-box {
		padding: 20px;
	}

	.qual-box {
		width: 100%;
	}

	.main .first h2 {
		font-size: 4em;
	}

	.fifth .main-contact #mail {
		font-size: 0.7em;
	}

}

@media screen and ( max-width: 1024px) {

	.nav-bar {
		width: 24%;
	}

	.fifth .main-contact {

		left: 16%;
		width: 25%;
		padding: 20px;

	}

	.fifth .main-contact #mail {
		position: relative;
		right: 4px;
	}

	.intro-box {
		width: 100%;
	}

	.second {
		width: 70%;
		padding: 20px;
		margin: auto;
		left: 20px;
	}

	.main .first h2 {
		width: 78%;
		font-size: 3.4em;
	}

	#back-btn, #next-btn {
		font-size: 50px;
	}
}


@media screen and ( max-width: 900px) {

	.fifth .main-contact {
		width: 28%;
		top: 38%;
	}

	.fifth .main-contact a .icons {
		padding: 2px;
		font-size: 30px;
	}

	/* .intro-box {
		width: 100%;
	}

	.second {
		width: 90%;
		padding: 20px;
		margin: auto;
	} */

	.fifth .contact-form button[type=submit] {
		width: 50%;
	}

	.fifth .main-contact #mail {
		font-size: 0.55em;
	}

}

@media screen and ( max-width: 768px) {

	body {
		overflow-x: hidden;
	}

	.nav-bar {
		z-index: 20;
	}

	.nav-bar  hr, .nav-bar footer {
		display: none;
	}

	.nav-bar, .nav-bar nav {
		width: 100%;
		height: 14%;
		max-height: 14vh;
		/* overflow: hidden; */
		position: fixed;
		display: flex;
	}

	.nav-bar .nav-pic-name {
		width: 100%;
		display: flex;
	}

	.nav-bar .nav-pic-name h1 {
		height: inherit;
		margin: auto;
		width: 100%;
		padding: 4px;
		position: relative;
		right: 65px;
	
	}

	.nav-links {
		position: absolute;
		width: 43%;
		display: flex;
		justify-content: space-evenly;
		height: 100vh;
		right: 0;
		background-color: #D8C3A5;
		transform: translateX( 100%);
		transition: transform 0.5s ease-in;		
	}

	.nav-links li {
		opacity: 0;
	}

	.nav-bar .nav-pic-name img{
		margin: 1.5%;
		margin-left: 4%;
		height: 12vh;
		width: 12vh;
		float: left;
		z-index: 1;
	}

	.burger {
		display: block;
		width: 45px;
		height: inherit;
		position: fixed;
		right: 4%;
		cursor: pointer;
	}
	
	.burger #line1, .burger #line2, .burger #line3 {
		height: 5px;
		background-color: #E98074;
		margin: 4px 7.5px;
		border-radius: 4px;
		transition: all 0.5s ease-in-out;	
	}

	.burger #line1 {
		margin-top: 5.9vh;
	}

	.nav-links-active {
		transform: translateX( 0%);
	}

	/* adjusting the main part  */
	.main {
		width: 100%;
	}

	.main footer {
		display: block;
	}

	/* making the image scalable in projects  */

	.third .projects .project-pic img{
		max-width: 80%;
		/* height: 200px; */
		padding-top: 100%;
		border-radius: 30px;
		padding: 10px;
	}

	#back-btn, #next-btn {
		font-size: 40px;
	}

}

@media screen and ( max-width: 600px) {

	.fifth .main-contact #mail {
		font-size: 0.52em;
	}

	.first img {
		position: relative;
		right: 300px;
	}

}

@media screen and ( max-width: 500px) {

	.nav-bar .nav-pic-name img {
		display: none;
	}

	.nav-bar .nav-pic-name h1 {
		position: relative;
		right: 0;
	}

	.burger {
		width: 40px;
	}

	.burger #line1, .burger #line2, .burger #line3 {
		height: 4px;
	}

	/* fixing the main body */

	.body {
		font-size: 12px;
	}

	.main .first h2 {
		font-size: 2.5em;
	}

	.second .intro-box {
		left: 48%;
		font-size: 0.8em;
	}

	.projects {
		flex-direction: column;
	}

	#project1, #project2 {
		width: 98%;
	}

	/* fixing the contact form  */
	
	.fifth .contact-form {
		margin: 0 ;
		padding: 0px;
		width: 70%;
		margin-left: 4%;

		position: relative;
		top: 171px;
	}
	
	.fifth .contact-form form {
		margin-left: 0px;
		padding: 20px;
	}
	
	
	.fifth .contact-form label input, .fifth .contact-form label textarea {
		width: 100%;
	}
	
	.fifth .contact-form label textarea {
		height: 100px;
	}
	
	
	.fifth .contact-form button[type=submit] {
		width: 100%;
	}
	
	.fifth .main-contact {
		position: relative;
		margin: 20px auto;
		left: 0;	
		width: 70%;
		top: -387px;
	
	}
	
	.fifth .main-contact #mail{
		font-size: 0.8em;
	}
	


}

@media screen and ( max-width: 380px) {

	.fifth .contact-form {
		top: 190px;
	}

	.second .qual-box .qual-photo-left img, .second .qual-box .qual-text-right {

		padding: 0;
		margin: 0;
	}

	.second .qual-box .qual-text-right p {
		padding: 5px;
	}

	.fifth .main-contact {
		left: 14px;
	}

}